<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'homestyle.css') }}">
  <link rel="stylesheet" type="text/css" href="homestyle.css">
  <style>@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');</style>
  <style>@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');</style>
  <title>HOMEPAGE</title>
</head>
<body class="container">
   <header>
    <nav>
      <div class = "title">
        <img src="{{ url_for('static', filename= 'data.png') }}" alt="data icon">
        <h1>Jenna Bowman</h1>
        <h4>Data Science</h4>
      </div>
      <menu>
        <li><button><a href="/">Home</a></button></li>
        <li>
        <div class="dropdown">
            <button class="dropbtn">Projects</button>
            <div class="dropdown-content">
              <a href="/house">House Price Predictor</a>
              <a href="/loan">Loan Default Risk</a>
              <a href="/recommend">Recommendation System</a>
              <a href="/stock">Stock Price Predictor</a>
              <a href="/airline">Airline Passenger Predictor</a>
            </div>
          </div>
        </li>
        <li><button><a href="/about">About</a></button></li>
        <li><button><a href="/contact">Contact</a></button></li>
      </menu>
    </nav>
  </header>
  <main>
    <div class="main">
      <section class="left">
        <h1>Data Science Solutions for Modern Problems</h1>
        <h4>
          Phasellus vel gravida justo. Phasellus nec quam sit amet dolor blandit
          aliquam. Maecenas purus justo, ornare sit amet nisi nec, hendrerit tempus
          odio. Pellentesque non ullamcorper nisi, ac dictum tellus. In vel purus sed
          justo scelerisque lobortis. Aenean id enim rutrum, fermentum augue vel, iaculis
          neque.
        </h4>
        <a href="/about"><button class="butt">About</button></a>
      </section>
      <section class="right">
        <img src="{{ url_for('static', filename= 'graphic.png') }}" alt="graphic">
        <p>
        </p>
      </section>
    </div>
  </main>
  <div class="overlay"></div>
  <script src="homescript.js"></script>
</body>
</html>
